<div class="content__actions">
{{#data-portlets.data-views}}{{>Portlet}}{{/data-portlets.data-views}}
{{#data-portlets.data-actions}}{{>Portlet}}{{/data-portlets.data-actions}}
{{#data-portlets.data-page-tools}}{{>Portlet}}{{/data-portlets.data-page-tools}}
{{>Languages}}
</div>
