<footer id="footer" class="mw-footer" {{{html-user-language-attributes}}}>
    {{#is-repository-link-shown}}<div id="footer-repository-link">{{{html-repository-link}}}</div>{{/is-repository-link-shown}}
    {{^is-repository-link-shown}}{{/is-repository-link-shown}}
    {{#data-footer}}
    {{!}}{{#data-icons}}{{>FooterList}}{{/data-icons}}
    {{!}}<div id="footer-list">
    {{!}}{{#data-info}}{{>FooterList}}{{/data-info}}
    {{!}}{{#data-places}}{{>FooterList}}{{/data-places}}
    {{!}}</div>
    {{/data-footer}}
</footer>
