<div id="p-logo" class="mw-portlet" role="banner">
    <a id="logo-link" href="{{link-mainpage}}">
    {{#data-logos}}
        {{#icon}}<img id="logo-image" src="{{.}}" alt="{{msg-sitetitle}}">{{/icon}}
        {{#wordmark}}<img id="logo-wordmark" src="{{src}}" width="{{width}}" height="{{height}}" alt="{{msg-sitetitle}}">{{/wordmark}}
        {{^wordmark}}<h1 id="logo-text">{{msg-sitetitle}}</h1>{{/wordmark}}
    {{/data-logos}}
    </a>
</div>