<div class="toggle-list">
	<input type="checkbox" id="sidebar-input" class="toggle-list__checkbox" role="button" aria-pressed="false">
	<label for="sidebar-input"
		class="toggle-list__toggle sidebar__icon" title="{{msg-lakeus-openmainmenu}}">{{msg-lakeus-openmainmenu}}</label>
	<div class="toggle-list__list">
		<div class="toggle-list__card">
			<div id="toggle-list__article-counter">
				<span id="toggle-list__article-counter-count">{{{html-articlecount}}}</span>
				<span id="toggle-list__article-counter-text">{{msg-lakeus-articlecount}}</span>
			</div>
			{{#data-logos}}
				{{#icon}}<img id="toggle-list__logo-image" src="{{.}}" alt="{{msg-sitetitle}}">{{/icon}}
				{{^icon}}<div id="toggle-list__logo-image"></div>{{/icon}}
				{{#wordmark}}<img id="toggle-list__logo-wordmark" src="{{src}}" width="{{width}}" height="{{height}}" alt="{{msg-sitetitle}}">{{/wordmark}}
				{{^wordmark}}<span id="toggle-list__logo-text">{{msg-sitetitle}}</span>{{/wordmark}}
			{{/data-logos}}
		</div>
		{{#data-portlets-sidebar}}
		{{#data-portlets-first}}{{>Portlet}}{{/data-portlets-first}}
		{{#array-portlets-rest}}{{>Portlet}}{{/array-portlets-rest}}
		{{/data-portlets-sidebar}}
	</div>
	<label class="toggle-list__mask" for="sidebar-input"></label>
</div>