<li>
    <span class="lakeus-sticky-toc-tocnumber">{{number}}</span> <a href="#{{anchor}}" class="lakeus-sticky-toc-anchor">{{line}}</a>
    <ul>
    {{#array-sections}}
    {{>TableOfContents__line}}
    {{/array-sections}}
    </ul>
</li>
