#lakeus-theme-designer {
    position: fixed;
    left: 32px;
    bottom: 32px;
    user-select: none;
    z-index: 199;
}

#lakeus-theme-designer-portlet {
    position: relative;
}

#lakeus-theme-designer-portlet #lakeus-theme-designer-modal-checkbox-hack {
    display: block;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@keyframes theme-designer-animation-menu-show {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }
  
@keyframes theme-designer-animation-menu-hide {
    from {
      opacity: 1;
      visibility: visible;
    }
  
    to {
      opacity: 0;
    }
}

#lakeus-theme-designer-portlet #lakeus-theme-designer-modal-checkbox-hack:checked ~ #lakeus-theme-designer-portlet-body {
    animation-name: theme-designer-animation-menu-show;
    animation-duration: 0.2s;
}

#lakeus-theme-designer-portlet #lakeus-theme-designer-modal-checkbox-hack:checked ~ #lakeus-theme-designer-portlet-body #lakeus-theme-designer-portlet-body-container {
    opacity: 1;
    visibility: visible;
}

#lakeus-theme-designer-portlet #lakeus-theme-designer-portlet-body {
    display: block;
    visibility: hidden;
    bottom: 100%;
    position: absolute;
    animation-name: theme-designer-animation-menu-hide;
    animation-duration: 0.2s;
}

#lakeus-theme-designer-portlet-body #lakeus-theme-designer-portlet-body-container {
    background: white;
    overflow-y: scroll;
    box-shadow: 0 5px 17px 0 rgba(0,0,0,0.24),0 0 1px #a2a9b1;
    border-radius: 3px;
    padding: 0.4em;
    min-height: 500px;
}

#lakeus-theme-designer #lakeus-theme-designer-modal-button {
    color: #fff;
    background: #fff;
    text-align: center;
    height: 45px;
    width: 45px;
    font-size: 20px;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 5px grey;
    text-shadow: 0 0 2px #4c4c4c;
    padding: 0;
    margin: 0;
    cursor: pointer;
}