// @import 'mediawiki.skin.variables.less';
/* Variables */
/* Make less variables to CSS ones */
:root {
  --color-primary: #3366cc;
  --color-secondary: #ffffff;
  --color-neutral: #a2a9b1;
  --color-error: #d33;
  --color-warning: #fc3;
  --color-success: #14866d;
  --background-color-base: var(--color-secondary);
  --background-color-body: var(--color-secondary);
  --background-color-content: var(--color-secondary);
  --background-color-footer: #eee;
  --background-color-toggle-list: var(--color-secondary);
  --background-color-portlet-body: var(--color-secondary);
  --background-color-toggle-list-card: #eee;
  --background-color-toggle-list-item-hover: rgba(0, 0, 0, 0.1);
  --background-color-toggle-list-item-focus: rgba(0, 0, 0, 0.2);
  --background-color-portlet-item-hover: rgba(0, 0, 0, 0.1);
  --background-color-portlet-item-focus: rgba(0, 0, 0, 0.2);
  --background-color-edit-options: #eee;
  --background-color-search-suggestions: var(--color-secondary);
  --background-color-search-suggestions-current: var(--color-primary);
  --background-color-search-input: var(--color-secondary);
  --background-color-toc: #f8f9fa;
  --background-color-interface-message-box-neutral: #eaecf0;
  --background-color-interface-message-box-error: #fee7e6;
  --background-color-interface-message-box-warning: #fef6e7;
  --background-color-interface-message-box-success: #d5fdf4;
  --background-color-user-message: #ffce7b;
  --background-color-wikitable: #f8f9fa;
  --background-color-wikitable-table-head: #eaecf0;
  --background-color-toc-button: #fff;
  --border-color-edit-options: #c8ccd1;
  --border-color-content: #ccc;
  --border-color-toggle-list: #ddd;
  --border-color-search-suggestions: #c8ccd1;
  --border-color-search-bar: var(--color-gray-2);
  --border-color-portlet-body: var(--color-gray);
  --border-color-header-tab: var(--color-gray-2);
  --border-color-toc: #a2a9b1;
  --border-color-interface-message-box-neutral: var(--color-neutral);
  --border-color-interface-message-box-error: var(--color-error);
  --border-color-interface-message-box-warning: var(--color-warning);
  --border-color-interface-message-box-success: var(--color-success);
  --border-color-user-message: #ffa500;
  --border-color-wikitable: #a2a9b1;
  --subheader-color-toggle-list: #6a6a6a;
  --logo-text-color-toggle-list: #000000;
  --text-color-toggle-list-item: #1c1c1c;
  --text-color-toggle-list-item-hover: #3a3a3a;
  --text-color-toggle-list-item-focus: #3a3a3a;
  --text-color-portlet-item: #1c1c1c;
  --text-color-portlet-item-hover: #3a3a3a;
  --text-color-portlet-item-focus: #3a3a3a;
  --text-color-content: #000000;
  --text-color-header: #000000;
  --text-color-body: #000000;
  --text-color-footer: #000000;
  --text-color-interface-message-box-neutral: #000000;
  --text-color-interface-message-box-error: #000000;
  --text-color-interface-message-box-warning: #000000;
  --text-color-interface-message-box-success: #000000;
  --text-color-user-message: #000000;
  --text-color-wikitable: #202122;
  --text-color-sticky-toc-number: #888;
  --icon-filter-header: unset;
  --icon-filter-ooui-icon: unset;
  --icon-filter-toc-button: unset;
  --color-search-suggestions-text: #000;
  --color-search-suggestions-text-current: #fff;
  --color-tagline: var(--color-base);
  --color-accent-header-tab: var(--color-base);
  --color-accent-header-tab-selected: #54595d;
  --color-accent-header-tab-new: #54595d;
  --color-header: white;
  --color-base: #54595d;
  --color-gray: #a2a9b1;
  --color-gray-2: #eaecf0;
  --color-link: #0645ad;
  --color-link--visited: #0b0080;
  --color-link--active: #faa700;
  --color-link-new: #d33;
  --color-link-new--visited: #a55858;
  --color-link-new--active: #faa700;
  --color-link-external: #36b;
  --color-link-external--visited: #636;
  --color-link-external--active: #b63;
  --color-footer-link: var(--color-link);
  --color-footer-link--visited: var(--color-link--visited);
  --color-footer-link--active: var(--color-link--active);
  --color-toc-number: #202122;
  --font-family: 'Roboto', -apple-system, blinkmacsystemfont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Helvetica Neue', sans-serif;
  --font-family-serif: 'Linux Libertine', 'Times New Roman', 'Liberation Serif', 'Nimbus Roman', 'Noto Serif', 'Times', serif;
  --font-family-headings: var(--font-family-serif);
  --font-family-action-bar: var(--font-family);
  --elevation: 0 2px 2px rgba( 0, 0, 0, 10% );
  --header-elevation: var(--elevation);
  --mask-background: rgba( 0, 0, 0, 0.8 );
}

@color-primary: var(--color-primary);
@color-secondary: var(--color-secondary);
@background-color-base: var( --background-color-base );
@background-color-body: var( --background-color-body );
@background-color-content: var( --background-color-content );
@background-color-footer: var( --background-color-footer );
@background-color-toggle-list: var( --background-color-toggle-list );
@background-color-portlet-body: var( --background-color-portlet-body );
@background-color-toggle-list-card: var( --background-color-toggle-list-card );
@background-color-toggle-list-item-hover: var( --background-color-toggle-list-item-hover );
@background-color-toggle-list-item-focus: var( --background-color-toggle-list-item-focus );
@background-color-edit-options: var( --background-color-edit-options );
@background-color-search-suggestions: var( --background-color-search-suggestions );
@background-color-search-suggestions-current: var( --background-color-search-suggestions-current );
@background-color-search-input: var( --background-color-search-input );
@background-color-toc: var( --background-color-toc );
@background-color-interface-message-box-neutral: var( --background-color-interface-message-box-neutral );
@background-color-interface-message-box-error: var( --background-color-interface-message-box-error );
@background-color-interface-message-box-warning: var( --background-color-interface-message-box-warning );
@background-color-interface-message-box-success: var( --background-color-interface-message-box-success );
@background-color-user-message: var( --background-color-user-message );
@background-color-wikitable: var( --background-color-wikitable );
@background-color-wikitable-table-head: var( --background-color-wikitable-table-head );
@background-color-toc-button: var( --background-color-toc-button );
@border-color-edit-options: var( --border-color-edit-options );
@background-color-portlet-item-hover: var( --background-color-portlet-item-hover );
@background-color-portlet-item-focus: var( --background-color-portlet-item-focus );
@border-color-content: var( --border-color-content );
@border-color-toggle-list: var( --border-color-toggle-list );
@border-color-search-suggestions: var(--border-color-search-suggestions);
@border-color-search-bar: var( --border-color-search-bar );
@border-color-portlet-body: var( --border-color-portlet-body );
@border-color-header-tab: var( --border-color-header-tab );
@border-color-toc: var( --border-color-toc );
@border-color-interface-message-box-neutral: var( --border-color-interface-message-box-neutral );
@border-color-interface-message-box-error: var( --border-color-interface-message-box-error );
@border-color-interface-message-box-warning: var( --border-color-interface-message-box-warning );
@border-color-interface-message-box-success: var( --border-color-interface-message-box-success );
@border-color-user-message: var( --border-color-user-message );
@border-color-wikitable: var( --border-color-wikitable );
@subheader-color-toggle-list: var( --subheader-color-toggle-list );
@logo-text-color-toggle-list: var( --logo-text-color-toggle-list );
@text-color-content: var( --text-color-content );
@text-color-header: var( --text-color-header );
@text-color-toggle-list-item: var( --text-color-toggle-list-item );
@text-color-toggle-list-item-hover: var( --text-color-toggle-list-item-hover );
@text-color-toggle-list-item-focus: var( --text-color-toggle-list-item-focus );
@text-color-portlet-item: var( --text-color-portlet-item );
@text-color-portlet-item-hover: var( --text-color-portlet-item-hover );
@text-color-portlet-item-focus: var( --text-color-portlet-item-focus );
@text-color-body: var( --text-color-body );
@text-color-footer: var( --text-color-footer );
@text-color-interface-message-box-neutral: var( --text-color-interface-message-box-neutral );
@text-color-interface-message-box-error: var( --text-color-interface-message-box-error );
@text-color-interface-message-box-warning: var( --text-color-interface-message-box-warning );
@text-color-interface-message-box-success: var( --text-color-interface-message-box-success );
@text-color-user-message: var( --text-color-user-message );
@text-color-wikitable: var( --text-color-wikitable );
@text-color-sticky-toc-number: var( --text-color-sticky-toc-number );
@icon-filter-header: var( --icon-filter-header );
@icon-filter-ooui-icon: var( --icon-filter-ooui-icon );
@icon-filter-toc-button: var( --icon-filter-toc-button );
@color-search-suggestions-text: var( --color-search-suggestions-text );
@color-search-suggestions-text-current: var( --color-search-suggestions-text-current );
@color-tagline: var( --color-tagline );
@color-accent-header-tab: var( --color-accent-header-tab );
@color-accent-header-tab-selected: var( --color-accent-header-tab-selected );
@color-accent-header-tab-new: var( --color-accent-header-tab-new );
@color-header: var( --color-header );
@color-base: var( --color-base );
@color-gray: var( --color-gray );
@color-gray-2: var( --color-gray-2 );
@color-link: var( --color-link );
@color-link--visited: var( --color-link--visited );
@color-link--active: var( --color-link--active );
@color-link-new: var( --color-link-new );
@color-link-new--visited: var( --color-link-new--visited );
@color-link-new--active: var( --color-link-new--active );
@color-link-external: var( --color-link-external );
@color-link-external--visited: var( --color-link-external--visited );
@color-link-external--active: var( --color-link-external--active );
@color-footer-link: var( --color-footer-link );
@color-footer-link--visited: var( --color-footer-link--visited );
@color-footer-link--active: var( --color-footer-link--active );
@color-toc-number: var( --color-toc-number );
@font-family: var( --font-family );
@font-family-headings: var( --font-family-headings );
@font-family-action-bar: var( --font-family-action-bar );
@font-family-serif: var( --font-family-serif );
// @media queries does not support CSS variables
@width-breakpoint-desktop: 1000px;
@width-breakpoint-tablet: 720px;
@width-breakpoint-semi-mobile: 500px;
@width-breakpoint-mobile: 320px;
@header-elevation: var( --header-elevation );
@elevation: var( --elevation );
@mask-background: var( --mask-background );