/* ULS toggle styles tweak */

.skin-lakeus {
  #pt-uls {
    .uls-trigger {
      background-image: none;
      // Same values as this skin's `.mw-portlet-personal li a`
      padding: 0.2em 0.75em;
      display: block;
    }
  }
}