<header class="mw-header">
	{{>Logo}}
	{{>Notifications}}
	{{>PersonalMenu}}
	{{>Search}}
	{{>Sidebar}}
</header>
{{>Notices}}
<main id="content" class="mw-body">
	<header class="content__header">
		{{>ContentIndicators}}
		{{>ContentHeading}}
		{{>ContentTagline}}
		{{>ContentNamespaces}}
		{{>ContentActions}}
	</header>
	{{>ContentBody}}
</main>
<nav>
	{{>Languages}}
</nav>
{{>Footer}}
