<header class="mw-header">
	{{>Logo}}
	<div id="p-user-tools">
        {{>Notifications}}
	    {{>PersonalMenu}}
	</div>
	{{>Search}}
	{{>Sidebar}}
</header>
{{>Notices}}
<main id="content" class="mw-body">
	<header class="content__header">
		{{>ContentIndicators}}
		{{>ContentHeading}}
		{{>ContentTagline}}
		<div class="content-header-tabs">
			{{>ContentNamespaces}}
			{{>ContentActions}}
		</div>
	</header>
	{{>ContentBody}}
</main>
{{>Footer}}
